/* SOLOFOLIO - MEDIA QUERIES */

@-ms-viewport { width: device-width; }

@media only screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  img {
    border-left: none;
    border-right: none;
  }

  .wp-caption img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  #header {
    height: auto;
    position: relative !important;
    top: 0;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    width: auto;
  }

    #header-inner {
      padding: .75em 0;
    }

    #header #logo,
    #header-content,
    #header-content ul li {
      float: none;
    }

    #header-content {
      margin: 20px 0;
    }

    #header-content ul li {
      float: none;
    }

    #logo-noimg {
      display: block;
      line-height: 1;
    }

      #header h1 {
        line-height: 1.2;
      }

    #header #logo-img {
      display: block;
      margin: 0 auto;
    }

    #header-meta {
      margin-bottom: 0;
    }

    #header-meta div {
      line-height: 1;
      display: inline-block;
      float: none;
      padding: 0 20px 0 0;
    }

    #header #logo {
      max-width: none;
      padding-left: 20px;
      padding-right: 4em;
    }

    #header h3 {
      margin: 0;
      padding: 0;
    }

    #solofolio-social {
      margin: 0;
    }

    #wrapper {
      position: relative;
      padding-top: 20px;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
    }

    #content-page, #content-index, #content-single, #content-search {
      max-width: 900px;
      padding: 0 20px;
    }

    #content-about {
      max-width: 900px;
    }

      #content-about-image {
        float: none;
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
      }

      #content-about-content {
        width: 100%;
        max-width: 600px;
        float: none;
        display: block;
      }

    #content-parent .children li {
      padding-left: 10px;
      padding-right: 10px;
    }

    .entry {
      border-bottom: medium none;
      padding: 10px;
      margin-bottom: 0;
      text-align: center;
    }

    .entry,
    .entry .wp-caption,
    .entry .wp-caption img,
    .entry img,
    #content-index,
    #content-parent,
    #content-about,
    #content-about-content,
    #content-about-image {
      margin-left: auto;
      margin-right: auto;
    }

    .entry {
      padding-left: 0;
      padding-right: 0;
    }

    .post-meta, .entry p {
      max-width: 600px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }

    .entry .wp-caption-text {
      margin: .25em auto auto auto;
      text-align: left;
      max-width: none;
    }

    .tag-links {
      text-align: left;
      margin: 0 auto;
    }

    .entry p {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    #comments .commentlist li {
      padding: 0;
    }

    #reply-title {
      padding-left: 20px;
    }

    img.alignnone {
      width: 100%;
      height: auto;
    }

    #wrapper a img {
      border: none;
    }

  #comments {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

  #sidebar-footer {
    position: relative;
    display: block;
    height: auto;
    bottom: auto;
    padding: 10px 8px;
    line-height: 1.2;
  }

  #wrapper #content-index {
    width: 100%;
  }

  .pagination-nav {
    margin: 0 auto;
  }

  #content h1 {
    font-size: 22px;
    line-height: 1.3;
    padding: 10px;
  }

  #header-content {
    display: none;
  }

  #header {
    min-width: 320px;
    left: auto;
    bottom: auto;
  }

    #header h1 {
      float: none;
    }

      #header h1 a {
        line-height: 1;
      }

    #header h3 {
      padding-top: 3px;
    }

    #sidebar-footer p {
      margin: 0 auto;
      text-align: center;
    }

      #header-content  ul li {
        padding: 0;
      }

        #header-content ul li a, #header-content h3 {
          display: block;
          font-size: 16px;
          line-height: 2;
        }

      #header-content {
        text-align: center;
      }

  .open {
    display: block;
    position: fixed;
  }

  .galleria-info {
    padding: 7px 10px 0;
  }

  .vert-scroll .wp-caption-text {
    max-width: none;
  }

  #wrapper {
    margin-top: 0;
    min-width: 320px;
  }

  #post #outerWrap {
    width: 100%;
    }

  #menu-icon {
    display: block;
    z-index: 300;
  }
}

@media only screen and (min-width: 621px) and (max-width: 1024px) {
  #header #logo {
    text-align: center;
  }

  #header-meta div {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 620px) {

  body#page {
    overflow: auto;
  }

  #header #logo-img {
    display: block;
    margin: 0;
  }

  #content h1 {
    font-size: 14px;
  }

  #content-page, #content-index, #content-single, #content-search {
    padding: 0;
  }

  #content-parent .content {
    margin: 0 -10px;
    padding: 0;
  }

  #content-parent .children li {
    width: 49%;
  }

  p, h1, h2, h6,
  .comment-author,
  .comment-meta,
  .commentlist .date,
  .tag-links,
  .post-meta,
  .pagination-nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  .entry img {
    max-width: 100%;
  }

  .sl-sidescroll {
    width: 100%;
  }

  .sl-sidescroll td {
    display: block;
    width: 100%;
  }

  .sl-sidescroll-container {
    margin: 0;
    padding: 0;
  }

  .sl-sidescroll-container img {
    width: 100%;
  }

  .sl-sidescroll-container p {
    line-height: 1.2;
  }

  .galleria-thumblink, .galleria-fullscreen {
    display: none;
  }

}
