/* SOLOFOLIO - MEDIA QUERIES */

@-ms-viewport { width: device-width; }

@media only screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  img {
    border-left: none;
    border-right: none;
  }

  .wp-caption img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  #header {
    height: auto;
    position: relative !important;
    margin: 1em 0 0;
    top: 0;
    padding: 0;
    width: auto;
  }

    #header #logo div {
      margin: 0 auto .25em;
    }

    #header #logo #logo-noimg {
      text-align: center;
    }

    #header-meta {
      text-align: center;
      margin: 0 auto 1em;
    }

      #header-meta div {
        display: inline-block;
        padding: 0 10px;
      }

    #header-content {
      padding: 0 0 10px 0;
    }

    #header-content .solofolio-cyclereact-caption {
      display: none !important;
    }

    #header h3 {
      margin: 0;
      padding: 0;
    }

    #solofolio-social {
      margin: 0;
    }

    .solofolio-cyclereact-sidebar {
      display: none !important;
    }

  #wrapper {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

    #content-index, #content-single, #content-search {
      padding: 0;
    }

    #content-parent {
      padding-left: 5px;
    }

    .entry {
      border-bottom: medium none;
      padding: 10px;
      margin-bottom: 0;
      text-align: center;
    }

    .entry .wp-caption img, .entry img {
      margin-left: auto;
      margin-right: auto;
    }

    .entry .wp-caption-text {
      margin: .25em auto auto auto;
      max-width: 600px;
      text-align: left;
    }

    .tag-links {
      text-align: left;
      margin: 0 auto;
      padding: 0 15px;
    }

    .entry p {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    .pagination-nav {
      max-width: 600px;
    }

      #comments .commentlist li {
        padding: 0;
      }

    #reply-title {
      padding-left: 16px;
    }

    img.alignnone {
      width: 100%;
      height: auto;
    }

    #wrapper a img {
      border: none;
    }

  #comments {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

  #sidebar-footer {
    position: relative;
    height: auto;
    bottom: auto;
    padding: 10px 8px;
    line-height: 18px;
  }

  #wrapper #content-index {
    width: 100%;
  }

  #content h1 {
    font-size: 22px;
    line-height: 30px;
    background-color: #000;
    color: #FFF;
    padding: 10px;
  }

  #header-content {
    display: none;
  }

  #header {
    min-width: 320px;
    left: auto;
    bottom: auto;
  }

    #header h3 {
      padding-top: 3px;
    }

    #sidebar-footer p {
      margin: 0 auto;
      text-align: center;
    }

      #header-content  ul li {
        padding: 0;
      }

        #header-content ul li a, #header-content h3 {
          display: block;
          font-size: 16px;
          padding: 9px 0;
        }

      #header-content {
        text-align: center;
      }

  .open {
    display: block;
    position: fixed;
  }

  .galleria-info {
    padding: 7px 10px 0;
  }

  .entry {
    padding-left: 0;
    padding-right: 0;
  }

    .post-meta, .wp-caption-text, .entry p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

  #wrapper {
    min-width: 320px;
  }

  #post #outerWrap {
    width: 100%;
    }

  #menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 600px) {

  body#page {
    overflow: auto;
  }

  #content h1 {
    font-size: 14px;
  }

  #wrapper {
    overflow: scroll;
  }

  #header-meta div {
    display: inline-block;
    padding: 0 10px 0 0;
  }

  #header #logo div {
    margin-left: 1em;
  }

  #header #logo #logo-noimg {
    text-align: left;
  }

  #header-meta {
    text-align: left;
    margin: 0 auto 1em 1em;
  }

  p, h1, h2, h6, .comment-author, .comment-meta, .pagination-nav, .commentlist .date {
    padding-left: 1em;
    padding-right: 1em;
  }

  #content-parent {
    padding-left: 0;
  }

    #content-parent .children li {
      padding-left: 10px;
      padding-right: 0;
    }

  .entry img {
    max-width: 100%;
  }

  .pagination-nav .right {
    clear: both;
    float: left;
  }

  .pagination-nav .right h4 {
    text-align: left;
  }

  .sl-sidescroll {
    width: 100%;
  }

  .sl-sidescroll td {
    display: block;
    width: 100%;
  }

  .sl-sidescroll-container {
    margin: 0;
    padding: 0;
  }

  .sl-sidescroll-container img {
    width: 100%;
  }

  .sl-sidescroll-container p {
    line-height: 1.2;
  }

  .galleria-thumblink, .galleria-fullscreen {
    display: none;
  }

}
