@media only screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  img {
    border-left: none;
    border-right: none;
  }

  .wp-caption img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  #header {
    height: auto;
    position: relative !important;
    margin: 5px 0 5px 5px;
    top: 0;
    padding: 0;
    width: auto;
  }

    #logo {
      padding: 5px 5px 5px 10px;
    }

    #logo-img {
      display: none;
    }

    #logo #logo-noimg {
      display: block;
    }

      #logo-noimg .description {
        display: none;
      }

    #header-content {
      padding: 0 0 10px 0;
    }

    #header-content .solofolio-cyclereact-caption {
      display: none !important;
    }

      #header #header-phone, #header #header-email, #header #header-location {
        padding-right: 5px;
        display: inline;
      }

      #header div {
        margin: 0;
      }

      #header h3 {
        margin: 0;
        padding: 0;
      }

    #sidebar-footer {
      display: none;
    }

    #header #logo {
      margin: 0;
    }

  #wrapper {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
    top: 0;
    left: 0;
  }

    #content-index, #content-single, #content-search {
      padding: 10px 0 0;
    }

    .entry {
      border-bottom: medium none;
      padding: 10px;
      margin-bottom: 0;
    }

    p, h1, h2, h4, h6, .commentlist .date, #wrapper li {
      padding: 0 10px;
    }

      #comments .commentlist li {
        padding: 0;
      }

    img.alignnone {
      width: 100%;
      height: auto;
    }

    #wrapper a img {
      border: none;
      }

    .pagination-nav a {
      padding: 15px;
    }

  #sidebar-footer {
    position: relative;
    height: auto;
    bottom: auto;
    padding: 10px 8px;
        font-size: 14px;
        line-height: 18px;
  }

  #wrapper #content-index {
    width: 100%;
  }

  #content h1 {
    font-size: 22px;
    line-height: 30px;
    background-color: #000;
    color: #FFF;
    padding: 10px;
  }

  #header-content {
    display: none;
  }

  #header {
    min-width: 320px;
    left: auto;
    bottom: auto;
  }

    #header h3 {
      padding-top: 3px;
    }

    #sidebar-footer p {
        display: inline;
        text-align: center;
      }

      #header ul li {
        padding: 0;
      }

        #header ul li a {
          display: block;
          font-size: 16px;
          padding: 9px 0;
        }

      #header-content {
        text-align: center;
      }

  .open {
    display: block;
    position: fixed;
  }

  .galleria-info {
    padding: 7px 10px 0;
  }

  .entry {
    padding-left: 0;
    padding-right: 0;
  }

    .post-meta, .wp-caption-text, .entry p {
      padding: 0 15px;
    }

  #wrapper {
    min-width: 320px;
  }

  #post #outerWrap {
    width: 100%;
    }

  #menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 440px) {

  body#page {
    overflow: auto;
  }

  #content h1 {
    font-size: 14px;
  }

  #wrapper {
    overflow: scroll;
  }

  #header #header-location {
    display: none;
  }

  .entry img {
    max-width: 100%;
  }

  .sl-sidescroll {
    width: 100%;
  }

  .sl-sidescroll td {
    display: block;
    width: 100%;
  }

  .sl-sidescroll-container {
    margin: 0;
    padding: 0;
  }

  .sl-sidescroll-container img {
    width: 100%;
  }

  .sl-sidescroll-container p {
    line-height: 1.2;
  }

  .galleria-thumblink, .galleria-fullscreen {
    display: none;
  }

}
